{% extends 'bookstore/base.html' %}
    {% block content %}
    <div class="container-fluid">
    <div class="row">
    <div class="col-sm-9">
            <div class="tcenter">
                <ul class="w3-ul book">
                <li><img src= "/media/{{ book.image }}" alt="{{ book.title }}" width="200", height="200"></li>
                <li>image url: {{ book.image }}</li>
                <li>Book: {{ book.title }}</li>
                <li>Average mark: {{ book.title }}</li>
                <li>Year: {{ book.year }}</li>
                <li>Description: {{ book.description }}</li>
                <li>Price: {{ book.price }}</li>
                <li>Authors: {% for auth in book.authors.all %}
                                {{auth}},
                                {% endfor %}
                </li>
                <li>Category: {{ book.category }}</li>
                </ul>
                <h1>Comments:</h1>
                    {% for comment in book.comment_set.all %}
                <ul class="w3-ul book">
                    <li> Author: {{ comment.author }}</li>
                    <li> {{ comment.comment }}</li>
                    <li>Mark: {{ comment.mark }}</li>
                </ul>
                    {% endfor %}
        <a href="{% url 'add_comment' book.id  %}" class="btn btn-default">Add comment</a>
        <a href="{% url 'book_edit' book.id  %}" class="btn btn-default">Edit book</a>
            </div>
    </div>
    <div class="col-sm-3">
        <p>menu</p>
    </div>
    </div>
    </div>
    {% endblock %}